.div{
    display: grid;
    background-color: #ccccff;
    grid-template: 3fr;
    grid-auto-rows: minmax(100px, auto);
    justify-items: stretch;
    align-items: stretch;
    grid-gap: 5px;
    text-align: left;
    margin: 2px;
    border: 5px #ccccff solid;
}
.box1{
    color: red;
    background-color: white;
    grid-column: 1/4;
    grid-row: 1;
}
.box2 {
    color: red;
    background-color: white;
    grid-column: 1;
    grid-row: 2/4;

}
.box3 {
    color: red;
    background-color: white;
    grid-column: 2/4;
    grid-row: 2;
    margin-bottom: 3px;

}
.box4 {
    color: red;
    background-color: white;
    grid-column: 2;
    grid-row: 3;
    margin-bottom: 3px;
}
.box5 {
    color: red;
    background-color: white;
    grid-column: 3;
    grid-row: 3;
    margin-bottom: 3px;
}
.box6 {
    color: red;
    background-color: white;
    grid-column: 1/4;
    grid-row: 4;
    margin-bottom: 3px;
}

